.container-course {

}

.container-course-sections {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 -1.5em -1.5em 0;
}

.course-lectures {
  margin: 0 1.5em 1.5em 0;
  flex: 100 1 auto;
  width: 308px;
  border-top: 1px solid #DDD;
}

.course-lecture-actions {
  flex: 1 1 auto;
  width: 308px;
  margin: 0 1.5em 1.5em 0;
  position: sticky;
  position: -webkit-sticky;
  top: 4em;
}

.course-lecture-creation {
  margin-bottom: 1.5em;
}

.form-enable-piazza hr {
  border: none;
  height: 1px;
  background-color: #DDD;
  margin: 1.5em -1.5em;
}
