.container-course {

}

.container-course-sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 0 -1.5em -1.5em 0;
}

.course-lectures {
  margin: 0 1.5em 1.5em 0;
  flex: 100 1 auto;
  width: 304px;
}

.course-lecture-creation {
  position: sticky;
  position: -webkit-sticky;
  top: 4.5em;
  box-sizing: border-box;
  margin: 0 1.5em 1.5em 0;
  padding: 0 1.5em 1.5em 1.5em;
  flex: 1 1 auto;
  width: 304px;
  background-color: #F8F8F8;
  border-radius: 4px;
  border: 2px solid #DDD;
}
