.container-course {

}

.container-course-sections {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: flex-start;
  margin: 0 -1em -1em 0;
}

.course-lectures {
  margin: 0 1em 1em 0;
  flex: 100 1 auto;
  width: 316px;
}

.course-lecture-creation {
  position: sticky;
  position: -webkit-sticky;
  top: 4em;
  box-sizing: border-box;
  margin: 0 1em 1em 0;
  padding: 0 1em 1em 1em;
  flex: 1 1 auto;
  width: 316px;
  border: 1px solid #DDD;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
}
