.lecture-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.lecture-item {
  display: block;
  padding: 0 0 2em 0;
  border-top: 1px solid #DDD;
}

.lecture-title {
  color: #18BC9C;
  margin-bottom: 0.5rem;
}

.lecture-title a {
  text-decoration: none;
}

.lecture-date {
  margin: 0.5em 0;
}

.lecture-video-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 1.5em -0.5em -0.5em 0;
  padding: 0;
}

.lecture-video-item {
  flex: none;
  margin: 0 0.5em 0.5em 0;
}

.lecture-video-item a {
  display: block;
  text-decoration: none;
  padding: 0.25em 0.75em 0.25em 0.5em;
  border: 1px solid #DDD;
  border-left-width: 0.25rem;
  border-radius: 4px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
  transition: border-color ease 0.2s;
}

.lecture-video-item a:hover {
  border-color: #18BC9C;
}
