.container-public {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translateY(-50%);
  margin-top: 0 !important;
  text-align: center;
}

.container-public h1 {
  font-size: 3em;
  color: #18BC9C;
  margin: 1rem 0;
  text-transform: uppercase;
}

.container-public h2 {
  font-size: 2em;
  color: #1AC9A7;
  margin: 1rem 0;
}

.container-public hr {
  border: none;
  height: 20px;
  margin: 0.5rem 0;
}

.container-public hr::before {
  padding: 10px;
  font-size: 20px;
  background: #FFF;
  color: #18BC9C;
}

.container-public hr::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background: #1AC9A7;
  margin-top: -10px;
}
