.container-public {
  position: absolute;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  margin-top: auto !important;
  margin-bottom: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.container-public h1 {
  font-size: 3em;
  color: #18BC9C;
  text-transform: uppercase;
}

.container-public h2 {
  font-size: 2em;
  color: #1AC9A7;
}

.container-public hr {
  border: none;
  height: 20px;
  margin: -0.5rem auto;
}

.container-public hr::before {
  padding: 10px;
  font-size: 20px;
  background-color: #FFF;
  color: #18BC9C;
}

.container-public hr::after {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background-color: #1AC9A7;
  margin-top: -10px;
}
