.container-video {
  position: absolute;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  top: 3em;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.container-banner {
  flex: none;
}

.container-banner > h2:first-child {
  margin-top: 0;
}

.video-player-section {
  position: relative;
  flex: none;
  height: 50%;
}

.video-player-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
  background-color: #000;
  display: flex;
}

.video-player-side-prev,
.video-player-side-next {
  flex: 1 0 auto;
  width: 1.5em;
}

.video-player-side-prev a,
.video-player-side-next a {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.25em;
  padding: 0 0.25rem;
  transition: background-color ease 0.2s;
}

.video-player-side-prev a:hover,
.video-player-side-next a:hover {
  background-color: #333;
}

.video-player-side-prev {
  border-right: 1px solid #333;
}

.video-player-side-next {
  border-left: 1px solid #333;
}

.video-player {
  flex: 0 1 auto;
  width: 972px;
  height: 100%;
}

.video-player iframe {
  width: 100%;
  height: 100%;
}

.video-bottom-section {
  flex: 1 1 auto;
  margin: 0 -1.5em 0 0;
  display: flex;
}

/* Bottom section */

.video-bottom-section > * {
  flex: 1 1 auto;
  width: 308px;
  margin: 0 1.5em 0 0;
  padding: 1.5em 0;
  overflow-y: auto;
}

/* Bottom column */

.video-comp-section {
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.video-comp-section > * + * {
  margin-top: 1em;
}

.video-comp-section-title {
  margin: 0;
  display: flex;
  align-items: center;
}

.video-comp-section-title-link {
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  margin-left: auto;
}

.video-comp-section-title-link:hover {
  color: #18BC9C;
}

.video-comp-list-container {
  flex: 1 1 auto;
  height: 10px;
  margin: 1em 0;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  overflow-y: auto;
}

.video-comp-list-container:last-child {
  margin-bottom: 0;
}

/* Bottom generic list */

.video-comp-list {
  margin: 0;
  padding: 0;
}

.video-comp {
  display: flex;
  padding: 0.5em 1em;
}

.video-comp + .video-comp {
  border-top: none;
  border-top: 1px dashed #DDD;
}

.video-comp-timestamp {
  margin-right: 1em;
}

.video-comp-text {
  flex: 1 0 auto;
  margin-right: 1em;
}

.video-comp-action:not(:last-child) {
  margin-right: 0.5em;
}

/* Bottom transcript column */

.video-transcript-section {
  flex-grow: 2;
}

.video-transcript {
  flex: 1 1 auto;
}

.video-transcript table {
  border-collapse: collapse;
  margin: -1px 0 0;
  min-width: 100%;
}

.video-transcript td {
  border-top: 1px dashed #EEE;
  padding: 0.25em;
  white-space: nowrap;
}

.video-transcript .video-transcript-timestamp {
  width: 7em;
  color: #AAA;
  position: sticky;
  left: 0;
  background-color: #FFF;
}

.video-transcript-vitamin {
  border: 1px solid #DDD;
  border-radius: 4px;
}

.video-transcript-vitamin-question {
  padding: 0.5em;
  border-bottom: 1px solid #DDD;
  font-weight: 600;
}

.video-transcript-vitamin-choices {
  list-style: none;
  margin: 0;
  padding: 0 0.5em;
}

.video-transcript-vitamin-choices * {
  margin: 0.5em 0;
  display: flex;
  white-space: normal;
}

.video-transcript-vitamin-choices ::before {
  flex: none;
  border: 1px solid #DDD;
  margin-right: 0.5em;
  width: 1.25em;
  height: 1.25em;
  text-align: center;
  border-radius: 4px;
}

.video-transcript-vitamin-choices :nth-child(1)::before {
  content: 'A'; 
}

.video-transcript-vitamin-choices :nth-child(2)::before {
  content: 'B'; 
}

.video-transcript-vitamin-choices :nth-child(3)::before {
  content: 'C'; 
}

.video-transcript-vitamin-choices :nth-child(4)::before {
  content: 'D'; 
}

.video-transcript-vitamin-choices :nth-child(5)::before {
  content: 'E'; 
}

/* Piazza */

.form-video-piazza {
  margin-top: 1em;
}

.video-piazza-help {
  float: right;
  margin-top: 0.125em;
}

/* Resources */

.video-resources a {
  text-decoration: none;
}

.video-resources a:hover {
  color: #18BC9C;
}
