@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
  line-height: 1.25;
}

body {
  margin: 0;
}

h2 {
  font-size: 1.75em;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.25em;
  margin: 1.5rem 0;
}

h4 {
  font-size: 1.125em;
  margin: 1.5rem 0;
}

a {
  color: inherit;
}

form label {
  display: block;
  font-weight: 600;
  margin: 0.5em 0 0.25em 0;
}

form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 4px;
}

form input[type='submit'] {
  margin-top: 1em;
  background-color: #1AC9A7;
  font-weight: 600;
  color: #FFF;
  border-color: #18BC9C;
}

.flex-space {
  flex: 1 0 auto;
}

.text-highlight {
  color: #18BC9C;
}

.layout-contents {
  padding-top: 48px;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.layout-contents > .container {
  margin-top: 2em;
  margin-bottom: 2em;
}
