@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

html {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 400;
  line-height: 1.25;
}

body {
  margin: 0;
}

h1 {
  margin: 1rem 0;
}

h2 {
  font-size: 1.75em;
  margin: 1rem 0;
}

h3 {
  font-size: 1.25em;
  margin: 1rem 0;
}

h4 {
  font-size: 1.125em;
  margin: 1rem 0;
}

a {
  color: inherit;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

form label {
  display: block;
  font-weight: 600;
  margin: 0.5em 0 0.25em 0;
}

form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0.25em 0;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 4px;
}

form input[type='submit'] {
  margin-top: 1em;
  margin-bottom: 0;
  background-color: #1AC9A7;
  font-weight: 600;
  color: #FFF;
  border-color: #18BC9C;
}

.flex-space {
  flex: 1 0 auto;
}

.text-highlight {
  color: #18BC9C;
}

.layout-contents {
  padding-top: 48px;
}

.container {
  margin: 0 auto;
  padding: 0 1.5em;
}

.layout-width-normal .container {
  max-width: 972px;
}

.layout-contents > .container {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.container-banner.container-banner-complex {
  margin: 1.5rem 0;
}

.container-banner.container-banner-complex h2 {
  margin-bottom: 0.5rem;
}

.container-banner-links > * {
  margin: 0 1rem 0 0;
  text-decoration: none;
}

.container-banner-links a:hover {
  color: #18BC9C;
}

.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
